.container {
    height: 100%;
    display: grid;
    justify-items: center;
    padding-left: 15%;
    padding-right: 15%;
}
.mainPageImage{
    width: 600px;
    min-height: 500px;
}
.imageContainer{
    display: flex;
  justify-content: space-between;
  min-width: 650px;
}
.arrowLeft,
.arrowRight {
    height: 75px;
    align-self: center;
}